.header {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: white;
    overflow: hidden;
}
.header > h1 {
    display: flex;
    align-items: center;
}

.header__form {
    display: flex;
    justify-content: space-between;
}

 .header__passwordInput, .header__nameInput, .header__submit {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-self: flex-end; 
}
    