.navBar {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color:black;
    color: white;
    align-items: center;
}

.navBar > a {
    color: white;
    cursor: pointer;
    text-decoration: none;
}

.navBar > a:hover {
    color: red;
}

.active {
    color: purple !important;
}